
:root{
    --white-color: white;
    --golden-color: #bc9962;
    --black-color: black; 
    --brown-color: #211a22;
    --futuraBook-font: Futura-Book;
    --futuraHeavy-font: Futura-Heavy;
    --futuraBold-font: Futura-Bold;
    --futuraExtraBold-font: Futura-ExtraBold;
    --futuraMedium-font: Futura-Medium;
    --futuraLight-font: Futura-Light;
}