.slogan {
    font-size: 13px;
    color: var(--golden-color);
    font-family: var(--futuraExtraBold-font);
    letter-spacing: 3px;
    text-transform: uppercase;
    p {
        color: var(--black-color);
        margin: 0;
    }
}
