.header {
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 11;

    .navbar {
        padding-top: 35px;

        .info {
            display: flex;
            justify-content: center;
            align-items: center;

            .languages {
                display: flex;
                flex-direction: column;
                margin-left: 2px;

                .text {
                    font-size: 11px;
                    font-family: var(--futuraBold-font);

                    span {
                        &:nth-child(1) {
                            color: var(--black-color);
                            margin-right: 5px;
                        }

                        &:nth-child(2) {
                            color: var(--golden-color);
                        }
                    }
                }

                .socials {
                    display: none;
                    justify-content: center;
                    align-items: center;
                    max-width: 93px;
                    width: 100%;
                    height: 20px;

                    a {
                        &:nth-child(1), &:nth-child(2) {
                            margin-right: 20px;
                            filter: invert(69%) sepia(5%) saturate(3594%) hue-rotate(358deg) brightness(95%) contrast(69%);
                        }

                        &:nth-child(3) {
                            margin-right: 0;
                            filter: invert(69%) sepia(146%) saturate(359%) hue-rotate(358deg) brightness(95%) contrast(69%);
                        }

                        &:nth-child(1) {
                            svg {
                                width: 14px;
                                height: 24px;
                            }
                        }

                        &:nth-child(2) {
                            svg {
                                width: 27px;
                                height: 22px;
                            }
                        }

                        &:nth-child(3) {
                            svg {
                                width: 23px;
                                height: 23px;
                            }
                        }

                    }
                }
            }

            .location {
                margin-left: 76px;

                span {
                    font-family: var(--futuraBold-font);
                    font-size: 10px;
                    color: var(--white-color);
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
            }
        }

        #logo-black {
            display: none;
        }

        .info-text {
            display: flex;

            .hamburger-menu {
                margin-right: 35px;
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                span {
                    margin-bottom: 4px;

                    &:nth-child(1) {
                        width: 22px;
                        height: 3px;
                        display: block;
                        background-color: var(--golden-color);
                        align-self: flex-start;
                    }

                    &:nth-child(2) {
                        width: 32px;
                        height: 3px;
                        display: block;
                        background-color: var(--golden-color);
                    }

                    &:nth-child(3) {
                        width: 22px;
                        height: 3px;
                        display: block;
                        background-color: var(--golden-color);
                        margin-bottom: 0;
                        align-self: flex-end;
                    }
                }
            }

            .tel-info {
                border: 2px solid white;
                border-radius: 20px;
                padding: 9px 19px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 244px;

                span {
                    border-left: 1px solid var(--white-color);
                    padding-left: 14px;
                    font-size: 13px;
                    font-family: var(--futuraBold-font);
                    color: var(--white-color);
                }

                svg {
                    padding-right: 6px;
                    max-width: 21px;
                    height: 15px;
                    width: 100%;
                    @media(max-width: 991px) {
                        max-width: 15px;
                        padding: 0;
                    }
                }
            }
        }
    }

    .container {
        .menu {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;

            .logo {
                width: 203px;
                height: 44px;
                cursor: pointer;
                max-width: 100%;
                display: block;
            }

            .left-navbar,
            .right-navbar {
                display: flex;
                cursor: pointer;

                li {
                    a {
                        color: var(--white-color);
                        font-family: var(--futuraHeavy-font);
                        text-decoration: none;
                        //margin-right: 45px;
                        font-size: 14px;
                        position: relative;
                        text-transform: uppercase;

                        &::after {
                            content: "";
                            position: absolute;
                            width: 0;
                            background-color: var(--golden-color);
                            height: 2px;
                            transition: 0.5s ease;
                            bottom: 0;
                            left: 0;
                        }

                        &:hover {
                            color: var(--golden-color);
                            transition: 0.5s ease;

                            &::after {
                                width: 100%;
                                transition: 0.5s ease;
                            }
                        }
                    }

                    &:nth-child(1), &:nth-child(2) {
                        margin-right: 45px;
                        @media(max-width: 1100px) {
                            margin-right: 29px;
                        }
                    }

                    &:nth-child(3) {
                        margin-right: 76px;
                        @media(max-width: 1100px) {
                            margin-right: 50px;
                        }
                    }

                    &:nth-child(4) {
                        margin-left: 76px;
                        @media(max-width: 1100px) {
                            margin-right: 50px;
                        }
                    }
                }
            }

            .right-navbar {
                li {
                    &:nth-child(1) {
                        margin-left: 76px;
                    }

                    &:nth-child(3) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

#desktop-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding: 30px 43px;
    left: 0;

    .location {
        margin-left: 30px;
    }

    .tel-info {
        margin-right: 36px;
    }

    @media(max-width: 1190px) {
        .hamburger-menu {
            margin-right: 15px;
        }
    }
    @media(max-width: 1190px) {
        padding-left: 9px;
    }
    @media(max-width: 991px) {
        display: none;
    }

    #logo-white {
        display: none;
    }

    #logo-black {
        max-width: 277px;
        width: 100%;
        height: 50px;
        margin-left: -104px;
        @media(max-width: 1100px) {
            margin-left: 0;
        }
        @media(max-width: 1180px) {
            max-width: 135px;
        }
    }
}

#mobile-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    left: 0;
    display: none;
    @media(max-width: 991px) {
        display: flex;
        height: 95px;
        padding-top: 35px;
        padding-bottom: 35px;
    }
    @media(max-width: 350px) {
        padding-left: 12px;
    }

    #logo-white {
        display: none;

    }

    .location {
        display: none;
    }

    .socials {
        display: none;
    }

    .text {
        span {
            &:nth-child(1) {
                color: black;
            }
        }
    }

    .tel-info {
        border-radius: 50px;
        padding: 10px;
    }

    #logo-black {
        width: 130px;
    }

    @media(max-width: 600px) {
        .hamburger-menu {
            margin-left: -6px;
        }
    }

}

@media (max-width: 991px) {
    .header {
        .container-fluid {
            padding: 0;

            .navbar {
                padding: 22px 10px 0;
                flex-wrap: nowrap;

                .info-text {
                    .tel-info {
                        height: 45px;
                        width: 45px;
                        border-radius: 50px;
                        padding: 0;

                        span {
                            display: none;
                        }

                        img {
                            padding: 0;
                        }
                    }

                    .hamburger-menu {
                        margin-right: 2px;
                        margin-left: 15px;
                    }
                }

                .info {
                    .location {
                        display: none;
                    }

                    .languages {
                        .text {
                            span {
                                &:nth-child(1) {
                                    color: var(--white-color);
                                }
                            }
                        }
                    }
                }

                .logo {

                    height: auto;
                    cursor: pointer;
                    max-width: 100%;
                    display: block;
                    margin: auto;

                    svg {
                        max-width: 130px;
                        width: 100%;
                        display: block;
                    }
                }
            }
        }

        .container {
            .menu {
                .left-navbar,
                .right-navbar {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .header {
        .container {
            .menu {
                .logo {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 445px) {
    .header {
        .container-fluid {
            .navbar {
                //justify-content: center;

                .info {
                    .location {
                        margin-left: 37px;
                    }
                }
            }
        }
    }
}

@media (max-width: 402px) {
    .header {
        .container-fluid {
            .navbar {
                padding: 15px 8px;
            }
        }
    }
}

.hamburger-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    background-image: url("/img/overlay.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 550ms ease-out;
    z-index: 5;
    transform: translateY(-200%);
    overflow: auto;
    @media(max-width: 991px) {
        background-image: url("/img/overlay-mob.png");
    }

    .overlay-open {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logo {
            width: 271px;
            margin-top: 105px;
            margin-bottom: 66px;

            svg {
                width: 271px;
                height: 60px;
                max-width: 100%;
            }
        }

        .menu-open {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;

            a {
                font-family: var(--futuraBold-font);
                font-size: 30px;
                color: var(--white-color);
                text-decoration: none;
                margin-bottom: 12px;
                text-transform: uppercase;

            }

            &:nth-child(6) {
                a {
                    margin-bottom: 0;
                }
            }
        }

        .button {
            .link {
                position: absolute;
                top: 0;
                left: 0;
                color: var(--white);
                margin-top: 45px;
                margin-left: 63px;
                text-transform: uppercase;
                width: 253px;
                height: 46px;
                border-radius: 30px;
                padding: 13px 0;
            }
        }

        .info-north {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;

            a {
                margin-right: 20px;
                color: var(--white);
                border-right: 1px solid grey;
                text-decoration: none;
                padding-right: 20px;

                &:nth-child(3) {
                    margin-right: 0;
                    border: none;
                }
            }
        }

        .socials {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 57px;
            max-width: 129px;
            width: 100%;
            height: 34px;

            a {
                &:nth-child(1), &:nth-child(2) {
                    margin-right: 20px;
                    filter: invert(69%) sepia(5%) saturate(3594%) hue-rotate(358deg) brightness(95%) contrast(69%);
                }

                &:nth-child(3) {
                    margin-right: 0;
                    filter: invert(69%) sepia(146%) saturate(359%) hue-rotate(358deg) brightness(95%) contrast(69%);
                }

                &:nth-child(1) {
                   svg  {
                        width: 20px;
                        height: 34px;
                       @media(max-width: 991px){
                           width: 14px;
                           height: 24px;
                       }
                    }
                }

                &:nth-child(2) {
                    svg {
                        width: 37px;
                        height: 30px;
                        @media(max-width: 991px){
                            width: 27px;
                            height: 22px;
                        }
                    }
                }

                &:nth-child(3) {
                    svg {
                        width: 32px;
                        height: 32px;
                        @media(max-width: 991px){
                            width: 23px;
                            height: 23px;
                        }
                    }
                }
            }
        }

            .info-location {
                font-family: var(--futuraMedium-font);
                font-size: 14px;
                text-transform: uppercase;
                margin-top: 41px;
                margin-bottom: 13px;
                max-width: 24%;

                p {
                    color: var(--golden-color);
                }

                span {
                    color: var(--white-color);
                }

            }

            .copyright {
                color: var(--golden-color);
                font-size: 12px;
                font-family: var(--futuraBook-font);
                margin-bottom: 45px;
            }
        }

        .hamburger-closs {
            position: absolute;
            right: 42px;
            top: 52px;
            cursor: pointer;

            span {
                width: 27px;
                height: 3px;
                background-color: var(--golden-color);
                display: block;
                //transform: rotate(45deg) translate(2px);

                &:nth-child(2) {
                    transform: rotate(-45deg) translate(2px, 1px);
                }

                &:nth-child(1) {
                    transform: rotate(43deg) translate(3px);
                }
            }
        }
    }

    .open-hamburger {
        transform: translateY(0);
    }

    @media(max-width: 991px) {
        .header {
            .hamburger-active {
                .overlay-open {
                    .button {
                        width: 100%;

                        .link {
                            position: relative;
                            top: -65px;
                            //margin: 0;
                            max-width: 335px;
                            width: 100%;
                            margin: 15px auto 0;
                            //margin-top: 30px;
                        }
                    }

                    .logo {
                        margin-bottom: 25px;
                        margin-top: 50px;

                        svg {
                            width: 194px;
                            height: 91px;
                            margin-left: 11px;
                        }
                    }

                    .info-north {
                        display: none;
                    }

                    .info-location {
                        display: none;
                    }

                    .socials {
                        margin-top: -27px;
                        margin-bottom: 35px;


                        a {
                            &:nth-child(3), &:nth-child(2) {
                                img {
                                    width: 23px;
                                    height: 23px;
                                }
                            }

                            &:nth-child(1) {
                                img {
                                    width: 14px;
                                    height: 24px;
                                }
                            }
                        }
                    }

                    .copyright {
                        margin-top: 20px;
                        margin-bottom: 10px;
                    }

                    .menu-open {
                        margin-bottom: 82px;

                        a {
                            font-size: 20px;
                        }
                    }
                }

                .hamburger-closs {
                    top: 26px;
                }
            }
        }
    }

    @media(max-width: 380px) {
        .header {
            .hamburger-active {
                .overlay-open {

                    .logo {
                        margin-left: -26px;
                        width: 241px;
                    }
                }
            }
        }
    }

